---
layout: base
eleventyExcludeFromCollections: true
pagination:
  data: collections.articles
  size: 10
  alias: items
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
canonical: /
---

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set nextHref = pagination.href.next -%}

<header class="main-heading">
  <h1>{{ phrases.latestArticles }}{%- if pagination.pageNumber > 0 -%}, {{ phrases.page }} {{ currentPage }} {{ phrases.of }} {{ totalPages }} {%- endif -%}&nbsp;&darr;</h1>
</header>

{% for item in items %}
{# in xml feeds the post link is in the link property, in json feeds, it's in the url property #}
  {% if item.link %}
    {% set link = item.link %}
  {% else %}
    {% set link = item.url %}
  {% endif %}
  {% set title = item.title %}
  {% set authorUrl = item.author.url %}
  {% set authorName = item.author.name %}
  {% set published = item.published|readableDate %}
  {% set description = item.description | safe %}
  {% include "partials/post.njk" %}
{% endfor %}

{% include "partials/pagination.njk" %}
