{% if site.data.hideFromSiteList != true %}
<li>
  <h2 class="blog-name">
    {# No avatars are provided in the modified source of data #}
    {# <img width="22" height="22" class="avatar" src="{{ site.data.avatar }}" alt="{{ site.data.name }}{{ phrases.sAvatar }}" /> #}
    <a href="{{ site.url }}">
      {{ site.name }}
    </a>
  </h2>
  <div class="rss">
    {% if site.feedType == 'json' %}
      {% include "svg/json.svg" %} <a href="{{ site.feed }}">JSON Feed</a>
    {% else %}
      {% include "svg/rss.svg" %} <a href="{{ site.feed }}">RSS Feed</a>
    {% endif %}
  </div>
</li>
{% endif %}
