<div class="bloglist">
  <ul>
    {#
       Modified to use the _data/multifeeds.json instead
       of a file-by-file site organization as in the original
    #}
  {% for site in multifeeds %}
    {% include "partials/bloglist-item.njk" %}
  {% endfor %}
  </ul>
</div>
